.inputGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.input {
  width: 100%;
  padding: 14px;
  background-color: #121212;
  border: 1px solid #727272;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #fff;
}

.input::placeholder {
  color: #6a6a6a;
}
